.header {
  width: 100%;
}

.header div {
  display: flex;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header_part {
  width: 50%;
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
}

.header_part:last-child {
  justify-content: flex-end;
}

.title {
  color: #333;
  font-size: 24px;
  font-family: 'Open Sans';
  font-weight: 700;
}

.nav {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.link {
  color: #666;
  font-size: 14px;
  font-family: Inter;
}

.button_login {
  width: 140px;
  height: 39px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid rgba(42, 39, 64, 0.50);
  background: none;
}

.button_login span {
  color: #2A2740;
  font-size: 12px;
  font-family: Inter;
  font-weight: 600;
}

.top_part {
  margin-top: 31px;
}

.top_part .container {
  display: flex;
}

.top_left {
  width: 53.7%;
  height: 100%;
  padding-bottom: 78px;
  display: flex;
  align-items: flex-end;
  min-height: 820px;
  position: relative;
}

.left_bg {
  width: 100%;
  min-height: 492px;
  background: url('../../public/img/img_sq.png');
  background-repeat: no-repeat;
  filter: blur(3px);
}

.coin {
  position: absolute;
  z-index: 3;
}

.coin:first-child {
  top: 483px;
  left: -115px;
}

.coin:nth-child(2) {
  top: 0;
  left: 44px;
}

.coin:nth-child(3) {
  left: 416px;
  top: 86px;
}

.coin:nth-child(4) {
  z-index: 2;
}

.top_right {
  margin-left: 6.04%;
  padding-top: 140px;
}

.top_title {
  display: flex;
  width: 444.978px;
  flex-direction: column;
  flex-shrink: 0;
  color: #333;
  font-size: 52px;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 32px;
}

.top_description {
  display: flex;
  width: 471px;
  flex-direction: column;
  flex-shrink: 0;
  color: #666;
  font-size: 20px;
  font-family: Inter;
  line-height: 150%;
  margin-bottom: 32px;
}

.button_start {
  width: 194px;
  height: 62px;
  border-radius: 8px;
  border: none;
  background: #2A2740;
  cursor: pointer;
  transition: all .3s ease;
}

.button_start span {
  color: #FFF;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  transition: all .3s ease;
}

.button_start:hover {
  background: #fff;
  border: 1px solid #2A2740;
}

.button_start:hover span {
  color: #2A2740;
}

.features .container {
  padding: 64px 0 105px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features_txt {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  line-height: 150%;
  background: linear-gradient(180deg, #8695b4 0%, #b0689e 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.features_txt span {
  background: #333333;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.features_wrap {
  margin-top: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.logo {
  
}

.garant .container {
  padding: 100px 0;
}

.garant_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 81px;
}

.garant_header {
  max-width: 476px;
  color: #333;
  font-size: 40px;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
}

.garant_header span {
  background: linear-gradient(180deg, #8695b4 0%, #b0689e 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.garant_description {
  max-width: 515px;
  color: #666;
  font-size: 20px;
  font-family: Inter;
  line-height: 160%;
}

.garant_low {
  display: flex;
  justify-content: space-between;
}

.garant_card_top {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.circle {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background: #F2ECFE;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.garant_title {
  color: #000;
  font-size: 24px;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
}

.garant_text {
  color: #333;
  font-size: 16px;
  font-family: Inter;
  line-height: 150%;
  max-width: 360px;
}

.list {
  padding: 100px 0;
  position: relative;
  min-height: 691px;
}


.list_left {
  width: 50%;
}

.list .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price_header {
  color: #333;
  text-align: center;
  font-size: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  max-width: 476px;
}

.price_header span {
  background: linear-gradient(180deg, #8695b4 0%, #b0689e 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.price_desc {
  color: #666;
  text-align: center;
  font-size: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 20px;
}

.price_chooser {
  width: 320px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #F2F1F8;
  margin-top: 76px;
  position: relative;
  padding: 6px;
  display: flex;
  margin-bottom: 72px;
}

.price_choose {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.price_title {
  color: #8680B2;
  font-size: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  z-index: 3;
  display: flex;
  align-items: center;
}

.price_hold {
  width: 160px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #FFF;
  position: absolute;
  z-index: 1;
  transition: all 0.3s ease;
}

.price_cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.price_card {
  width: 265px;
  height: 364px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid #EDECF3;
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  justify-content: space-around;
  transition: all .3s ease;
}

.price_card:hover {
  background: linear-gradient(135deg, rgba(161, 179, 223, 0.56) 0%, rgba(152, 185, 217, 0.42) 23.44%, rgba(140, 191, 239, 0.48) 48.44%, rgba(185, 132, 189, 0.43) 76.56%, rgba(197, 124, 180, 0.56) 94.27%);
}

.price_card:hover .card_title, 
.price_card:hover .card_price, 
.price_card:hover .card_plus p,
.price_card:hover .card_buy span {
  color: #fff !important;
} 

.price_card:hover .card_buy {
  background: #2A2740;
}

.card_title {
  color: #333;
  font-size: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  align-items: center;
  transition: all .3s ease;
}

.card_title img {
  margin-left: 5px;
}

.card_price {
  color: #48455E;
  font-size: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  transition: all .3s ease;
}

.card_price span {
  font-size: 20px;
  text-align: start;
}

.card_pluses {
  margin-bottom: 32px;
}

.card_plus {
  display: flex;
}

.card_plus svg {
  margin-right: 6px;
}

.card_plus p {
  color: #5C5972;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: all .3s ease;
}

.card_buy {
  border-radius: 6px;
  border: 1.5px solid rgba(42, 39, 64, 0.40);
  background: #FFF;
  padding: 10px 79px;
  transition: all .3s ease;
  margin-bottom: 10px;
}

.card_buy span {
  color: #2A2740;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  transition: all .3s ease;

}

@media (max-width: 1368px) {
  .coin:first-child {
    display: none;
  }
  .container {
    padding: 0 15px 0 15px;
  }
}

@media (max-width: 1136px) {
  .top_left {
    display: none;
  }
}